[Unit]
Description=High-performance api service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node {{ api_work_path }}/index.js --environment=production --logPath={{ api_logpath }}/
Restart=always

[Install]
WantedBy=multi-user.target