{
  "soc-storage": {
    "mongodb": {
      "database": "soc-db",
      "username": "siteAdmin",
      "password": "admin",
      "hosts": [
        {
          "host": "{{ mongodb_ip_address }}",
          "port": 27017
        }
      ]
    }
  },
  "soc-api": {
    "host": "localhost",
    "bind": "0.0.0.0",
    "port": 8000,
    "cors": {
      "origin": []
    }
  }
}
