{
  "satisfaction-storage": {
    "mongodb": {
      "database": "{{ mongo_db_name }}",
      "username": "{{ mongo_admin_user }}",
      "password": "{{ mongo_admin_pass }}",
      "hosts": [
        {
          "host": "{{ mongodb_ip_address }}",
          "port": 27017
        }
      ]
    }
  },
  "satisfaction-api": {
    "host": "localhost",
    "bind": "0.0.0.0",
    "port": {{ nodejs_api_port }},
    "cors": {
      "origin": ["http://{{ angular_ihm_ip }}"]
    },
    "admins": [
      {
        "email": "samtransworder@gmail.com",
		"password": "test",
        "username": "samy",
        "firstName": "sam",
        "lastName": "worder",
        "isAdmin": true
      }
    ]
  }
}
