[Unit]
Description=High-performance api service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node {{ nodejs_work_path }}/soc-api/index.js --logPath={{ soc_api_logpath }}/
Restart=always

[Install]
WantedBy=multi-user.target