[Unit]
Description=Mongo is a scalable, document-oriented database.
After=syslog.target network.target

[Service]
Type=forking
User=mongod
Group=mongod
ExecStart=/usr/bin/mongod --quiet -f /etc/mongod.conf run

[Install]
WantedBy=multi-user.target